{% extends 'base_flavors.html' %}

{% block likes_and_favorites %}
<ul>
    <li>Likes: {{ view.likes_and_favorites.likes }}</li>
    <li>Favorites: {{ view.likes_and_favorites.favorites_count }}</li>
</ul>
{% endblock likes_and_favorites %}

{% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li id="message_{{ forloop.counter }}"
            {% if message.tags %} class="{{ message.tags }}"
            {% endif %}>
            {{ message }}
        </li>
        {% endfor %}
    </ul>
{% endif %}
