{# пример базового шаблона приложения#}
{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}Default Ice Cream{% endblock title %}
    </title>
    {% block stylesheets %}
        <link rel="stylesheet"
              type="text/css"
              href="{% static 'css/project.css' %}">
    {% endblock stylesheets %}
</head>
<body>
    <div class="content">
        {% block content %}
            <h2>Ice Cream</h2>
        {% endblock content %}
    </div>
</body>
</html>
